*~
*[._]sw[g-p]
*.tsbuildinfo
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.stylelintcache
.eslintcache
.DS_Store
.pnp.*
.env.*
.env
!.env.example

node_modules/
jspm_packages/
bower_components/
web_modules/
dist/
build/
.idea/
.cache/
.parcel-cache/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
