# npm

legacy-peer-deps=true
tag-version-prefix=""
min-release-age=1 # days

# pnpm

public-hoist-pattern= ['*eslint*', '*prettier*', '*stylelint*']
shell-emulator=true
auto-install-peers=false
minimum-release-age=1440 # minutes
