{
  "extends": [
    "stylelint-config-recommended",
    "@stylistic/stylelint-config"
  ],
  "rules": {
    "alpha-value-notation": "number",
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-after-same-name-blockless", "first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "color-named": "never",
    "color-function-notation": "legacy",
    "comment-whitespace-inside": "always",
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": ["/flex/", "grid", "inset", "text-decoration"],
        "ignoreLonghands": ["background-size", "background-origin", "background-clip"]
      }
    ],
    "declaration-empty-line-before": "never",
    "declaration-property-value-disallowed-list": {
      "transform-origin": ["center"],
      "list-style-type": ["upper-latin"]
    },
    "font-family-name-quotes": "always-where-required",
    "function-name-case": [
      "lower",
      { "ignoreFunctions": ["/^DXImageTransform.Microsoft.*$/"] }
    ],
    "function-no-unknown": [
      true,
      { "ignoreFunctions": ["v-bind"] }
    ],
    "function-url-quotes": "never",
    "hue-degree-notation": "angle",
    "import-notation": "url",
    "media-feature-range-notation": "prefix",
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "selector-attribute-name-disallowed-list": "className",
    "selector-attribute-quotes": "always",
    "selector-list-comma-space-after": "always-single-line",
    "selector-not-notation": "simple",
    "selector-pseudo-class-no-unknown": [
      true,
      { "ignorePseudoClasses": ["global", "local", "deep", "slotted"] }
    ],
    "selector-pseudo-element-colon-notation": "single",
    "selector-type-case": "lower",
    "selector-type-no-unknown": [
      true,
      { "ignore": ["custom-elements"] }
    ],
    "shorthand-property-no-redundant-values": true,
    "value-keyword-case": [
      "lower",
      { "camelCaseSvgKeywords": true }
    ],
    "media-feature-name-no-unknown": null,

    "@stylistic/color-hex-case": "upper",
    "@stylistic/declaration-block-trailing-semicolon": [
      "always",
      { "ignore": "single-declaration" }
    ],
    "@stylistic/at-rule-semicolon-newline-after": null,
    "@stylistic/block-closing-brace-newline-after": null,
    "@stylistic/declaration-colon-newline-after": null,
    "@stylistic/number-leading-zero": null,
    "@stylistic/selector-list-comma-newline-after": null
  }
}